name: build and release

on:
  release:
    types: [created]

permissions:
    contents: write
    packages: write

jobs:
  build-and-release-all:
    name: Build and release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]
        flavor:
          - {tag: artemis, binary: amc}
          - {tag: kafka, binary: kmc}
          - {tag: mqtt, binary: mmc}
          - {tag: rabbitmq, binary: rmc}
        exclude:
        - goarch: arm64
          goos: windows
    steps:
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.26.0
    - name: Check out code
      uses: actions/checkout@v5
      with:
        submodules: recursive
    - name: Release
      uses: wangyoucao577/go-release-action@v1
      with:
        build_flags: "-tags=${{ matrix.flavor.tag }}"
        ldflags: "-X github.com/makibytes/xmc/cmd.version=${{ github.ref_name }}"
        github_token: ${{ secrets.GITHUB_TOKEN }}
        binary_name: ${{ matrix.flavor.binary }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
